/* Add CSS Styling */
.odd {
    background-color: pink;
    color: black;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.second {
color: blue;
font-size: 36px;

}


.fourth {
background-color: lightgreen;
font-weight: bold;
}

.font {
    font-size: 24px;
}